<a href="{{ config.repo_url }}" title="{{ lang.t('source') }}" class="md-source" data-md-component="source">
    <div class="md-source__icon md-icon">
        {% set icon = config.theme.icon.repo or "fontawesome/brands/git-alt" %}
        {% include ".icons/" ~ icon ~ ".svg" %}
    </div>
    <div class="md-source__repository">
        {{ config.repo_name }}
    </div>
</a>
<div class="md-copyright" style="padding: 0em;">
    DOI: <a href="https://doi.org/{{ config.repo_doi }}" class="md-copyright__highlight">{{ config.repo_doi }}</a>
</div>